certifi
charset-normalizer
et_xmlfile
idna
mypy-extensions
numpy < 2.0
openpyxl
pandas
python-dateutil
pytz
requests
six
typing-inspect
typing_extensions
tzdata
urllib3
aiohttp
pyyaml
clio-api-model-generator==0.2.1